/* CSS Reset */

/* Utilities */

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;

}

a:hover {
  text-decoration: underline !important;
}

/* Header */
header {

  a:hover {
    text-decoration: underline;
    text-underline-offset: 55px;
    text-decoration-color: blue;
    color: blue !important;
    /* text-deco */
  }

}

/* Main */

.w-50px {
  width: 50px;
}

.w-70 {
  width: 70px;
}



/* Footer */

footer {
  max-height: 400px;
  background-image: url('/img/footer-bg.jpg');
  position: relative;
  overflow: hidden;

  #logoFooter {
    position: absolute;
    top: -80px;
    right: 80px;
  }

  ul {

    li {

      a {
        text-decoration: none;
        color: lightgrey;
      }
    }

  }
}

.registration {
  background-color: #3d3d3d;

  .btn {
    border-radius: 0;
    border-color: blue;
  }

  a {
    text-decoration: none;
  }
}